@mixin radius($value) {
 border-radius: $value;
}

// Färger


// Textformatering 


// Profilbilder


// Quotebox
@mixin quotebox {
 background-color: #D3D3D3;
 color: black;
 padding: 20px;
}

// container
// header
// nav
// hero
// textbutton
// section
// 


// Start page
// container
// header, nav, input, ul, li, a
// hero, a
// 
// OM
// Section, Article, h2, img, blockquote x4