// COLORS //
$color_primary: #FFFFFF;
$color_primary_tint: rgba(255,255,255,0.1);
$color_secondary: #000000;

// BREAKPOINTS //
$breakpoint_tablet_min: 768px;
$breakpoint_tablet_max: 1023px;
$breakpoint_desktop: 1024px;

// PATHS //
$url_bg: url('../../assets/negative-space-black-forest-dawn.jpg');
$url_ppl: url('../../assets/profiles');
$url_icons: url('../../assets/')