@use "variables" as v;
@use "mixins" as m;

.hero {
  @include m.burger;
  @include m.d-flex--jus(space-between);
  height: 100vh;
  width: 100vw;
  background-image: v.$url_bg;
  background-size: cover;
  background-position: center;
  &__content {
    @include m.d-flex--jus(space-around);
    height: 35vh;
    padding: 0 20px;
    color: v.$color_primary;
    text-align: center;
  }
  &__heading {
    font-size: 2em;
    font-weight: bold;
  }
  &__text {
    font-size: 1.7em;
  }
  .btn-next {
    margin-bottom: 5vh;
    height: 30px;
    width: 30px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../../assets/arrow-white.png);
  }
}
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: v.$color_secondary;
    @include m.desktop {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10%;;
    }
    h2 {
      @include m.desktop {
        width: 100%;
      }
    }
    &__title {
      font-size: 2.2em;
      margin: 50 0 20px 0;  
      @include m.desktop {
        display: block;
      } 
     }
    &__person {
      width: 80vw;
      @include m.desktop {
        width: 35%;
      }
    }
    &__name {
      font-size: 0.6em;
      margin-top: 50px;
      @include m.desktop {
        font-size: 1em;
      }
    }
    &__img {
      width: 66vw;
      border-radius: 50%;
      box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.55);
      margin: 20px 0;
    }
    &__quote {
      background-color: #D3D3D3;
      padding: 40px;
      font-size: 16px;
      font-weight: 100;
      text-align: left;
      border-radius: 7;
      &:last-of-type {
        margin-bottom: 20px;
      }
      span {
        display: inline-block;
        height: 32px;
        width: 32px;
        content: url(../../assets/quotation-mark.png);
      }
    }
    .btn-next {
      margin-bottom: 5vh;
      @include m.desktop {
        width: 100%;
      }
      &__icon {
        width: 30px;
      }
    } 
  }
  .contact { // FOOTER
    color: v.$color-primary;
    background: v.$color_secondary;
    width: 100vw;
    height: 70vh;
    padding: 60px;
    font-size: 1.6em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include m.desktop {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      gap: 50px;
      height: 250px;
    }
    &__street, &__digits, &__social-media { 
      display: flex;
      flex-direction: column;
      gap: 13px;
      
    }
    &__social-media {
      a {
        color: inherit;
        text-decoration: inherit;
        margin-bottom: 5px;
      }
      img {
        width: 1em;
        margin-right: 20px;
      }
    }
  }
}
